boto3
click>=5.0
Flask==0.12.2
Flask-Admin==1.5.0
Flask-Babel==0.11.2
Flask-Bcrypt==0.7.1
Flask-Caching>=1.0.0
Flask-Gravatar
Flask-JSGlue
Flask-JsonSchema
Flask-Login==0.4.0
Flask-Mail
Flask-Migrate==2.0.4
Flask-OAuthlib
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
psycopg2==2.7.2
SQLAlchemy==1.1.11
sqlparse
Werkzeug==0.12.2
WTForms==2.1
