{% raw -%}
{% extends "base.html" %}
{% block content %}
<form method="POST" action="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="form-group">
    {{form.new_password.label}}
    {{form.new_password(placeholder="New password", class_="form-control")}}
  </div>
  <div class="form-group">
    {{form.verify_password.label}}
    {{form.verify_password(placeholder="New Password (again)", class_="form-control")}}
  </div>
  <input class="btn btn-default btn-submit" type="submit" value="Reset Password">
</form>
{% endblock %}
{% endraw -%}
